<form name="userForm" ng-submit="userForm.$valid && submit(userForm)">
  <div class="modal-header">
    <h3 class="modal-title">I'm a modal</h3>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control" name="name" ng-model="user.name" required />
      </div>
      <div class="form-group">
        <label class="control-label">Email</label>
        <input type="text" class="form-control" name="email" ng-model="user.email" required ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"/>
        <span class="label label-danger" ng-show="userForm.email.$error.pattern">Not valid email!!</span>
      </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="submit">OK</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
